@import './constants.css';
@import './media-queries.css';

/* CSS reset
   Sets a default for all elements in the CSS.
   This ignores browser defaults to ensure a consistent baseline across different browsers.
*/
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.show-debug-border {
    background-color: var(--debug-color);
}

.show-borders {
	outline: var(--debug-outline);
}

body {
    background-color: var(--color-theme);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.screen-size {
    width: calc(100vw - 40px); /* 20px from each margin */
    height: calc(100vh - 40px); /* 20px from top and bottom */
    background-color: var(--color-background);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}