/* Styles for iPad */ 
@media (max-width: 768px) 
{ 
    .screen-size
    {
        flex-direction: column;
    }
    p { 
        font-size: 1rem;
    }
}

/* Styles for iPad Air */ 
@media (max-width: 820px) 
{ 

}

/* Styles for desktop */ 
@media (min-width: 1024px) 
{ 
    .screen-size
    {
        flex-direction: row;
    }
    p { 
        font-size: 2rem;
    }
}